<head>
    <meta charset="utf-8">
    <title>Paperboy - About</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="style.css" rel="stylesheet">
    <link href="page-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400i,600,600i|IBM+Plex+Sans:300|Lora:400,700" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118332818-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-118332818-2');
    </script>

</head>

<body>
    <div class='wrapper'>
        <header>
            <div class='title'>
                <h1>
                    <a href='index.html'>Paperboy
                    </a>
                </h1>
            </div>
            <div class='subtitle'>Your daily reading list</div>
            <div class='byline'>
                <span id='date'></span>
                <span class='counters'>
                    <span class='bylineSpace'>
                        <span id='totalCounter'>
                        </span> TOTAL</span>
                    <span class='bylineSpace'>
                        <span id='unreadCounter'>
                        </span> UNREAD</span>
                </span>
                <span class='nav'>
                    <span class='bylineSpace'>
                        <a href='about.html'>ABOUT</a>
                    </span>
                    <span class='bylineSpace'>
                        <a href='https://goo.gl/forms/67BhT1tKb0yigp9Z2' target="_blank">FEEDBACK</a>
                    </span>
                    <span class='bylineSpace'>
                        <a href='upgrade.html'>UPGRADE</a>
                    </span>
                </span>
            </div>
        </header>

        <h2>Frequently Asked Questions</h2>
        <h3>What is Paperboy?</h3>
        <p class=' content '>
            You probably only need to check a given website once a day at most. Paperboy helps you stick to that limit, while staying
            informed.
        </p>
        <h3>How does Paperboy work?</h3>
        <p class=' content '>
            1. Add and remove as many links as you'd like.
            <br>2. Click on a link to go to that site.
            <br> 3. That link will then disappear until tomorrow.
        </p>
        <h3>Who are you?</h3>
        <p class='content'>
            Hi, I'm
            <a href='https://samwilkinson.io'>Sam</a>. I'm currently a Data Scientist at
            <a href='https://petalcard.com/'>Petal</a>, living and working in New York City.</p>
        <h3>Why did you make Paperboy?</h3>
        <p class='content'>I built Paperboy to try to replicate the experience of having newspapers delivered to your door every day. I wanted
            something that would help me stay informed, while being more thoughful about what news I'm consuming. I also
            wanted to complete my full stack destiny by dipping my toe into web development for the first time.
        </p>
    </div>

    <footer class="site-footer">
        <div>Icons made by
            <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
    </footer>

</body>

<script src="utilities.js"></script>
<script src="counter.js"></script>
<script src="date.js"></script>