<head>
    <meta charset="utf-8">
    <title>Paperboy</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400i,600,600i|IBM+Plex+Sans:300,700i|Lora:400,700" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118332818-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-118332818-2');
    </script>

</head>

<body>
    <div class='wrapper'>
        <header>
            <div class='title'>
                <h1>
                    <a href='index.html'>Paperboy
                    </a>
                </h1>
            </div>
            <div class='subtitle'>Your daily reading list</div>
            <div class='byline'>
                <span id='date'></span>
                <span class='counters'>
                    <span class='bylineSpace'>
                        <span id='totalCounter'>
                        </span> TOTAL</span>
                    <span class='bylineSpace'>
                        <span id='unreadCounter'>
                        </span> UNREAD</span>
                </span>
                <span class='nav'>
                    <span class='bylineSpace'>
                        <a href='about.html'>ABOUT</a>
                    </span>
                    <span class='bylineSpace'>
                        <a href='https://goo.gl/forms/67BhT1tKb0yigp9Z2' target="_blank">FEEDBACK</a>
                    </span>
                    <span class='bylineSpace'>
                        <a href='upgrade.html'>UPGRADE</a>
                    </span>
                </span>
            </div>
        </header>

        <div class='urlInput'>
            <input type="text" id="urlBox" placeholder="URL">
            <span onclick="addSubOnClick()" id="addBtn">Add</span>
        </div>

        <ul id="paperboyList">
        </ul>

        <div id='reset'>
            <span onclick="resetSubs()" class="resetBtn">Default List</span>
        </div>

    </div>

    <footer class="site-footer">
        <div>Made in NYC
        </div>
    </footer>

</body>

<script src="underscore.js"></script>
<script src="utilities.js"></script>
<script src="main.js"></script>
<script src="date.js"></script>