h2 {
    /* margin: 2rem; */
    margin-top: 2rem;
    font-family: 'EB Garamond';
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 1rem;
}

h3 {
    /* margin: 2rem; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'EB Garamond';
    font-size: 2rem;
    font-style: italic;
}

.author {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    color: rgb(32, 32, 32);
    margin-top: -2rem;
}

.content {
    margin-top: 1rem;
    font-family: 'Lora';
    letter-spacing: -0.07px;
    color: #3E3E3E;
    font-size: 16px;
    line-height: 2.2rem;
}

.author a {
    text-decoration: underline;
}

.content a {
    text-decoration: underline;
}

li {
    margin-top: 1rem;
    font-family: 'Lora';
    letter-spacing: -0.07px;
    color: #3E3E3E;
    font-size: 16px;
    line-height: 1.5rem;
}

.center {
    text-align: center
}