html {
    font-size: 14px;
    margin: 0;
    margin-left: 30%;
    margin-right: 30%;
    color: #3E3E3E;
    background: #f9f7f1;
    height: 100%;
}

header {
    display: grid;
}

.title h1 {
    margin: 1rem;
    margin-bottom: 1rem;
    font-family: 'EB Garamond';
    font-size: 5rem;
    text-align: center;
}

.subtitle {
    font-family: 'EB Garamond';
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2em;
    font-style: italic;
}

a {
    color: #3E3E3E;
    text-decoration: none;
}

.byline {
    font-family: 'Lora';
    display: grid;
    line-height: 2rem;
    height: 2rem;
    grid-template-columns: 33.33% 33.33% 33.33%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.byline .bylineSpace {
    padding-left: 0.5rem;
}

.byline .counters {
    text-align: center;
}

.byline .nav {
    color: #333333;
    text-align: right;
    font-weight: bold;
    margin-right: 0;
}

.byline .nav a:hover {
    text-decoration: underline;
}

.urlInput {
    display: grid;
    grid-template-columns: 85% 14%;
    grid-column-gap: 1%;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    height: 3rem;
}

#urlBox {
    margin: 0px;
    border: 1px solid black;
    background: #f9f7f1;
    padding-left: 1rem;
    font-family: 'IBM Plex Sans';
    border-radius: 3px;
    font-size: 1.2rem;
}

#addBtn {
    /* margin: 2px; */
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'IBM Plex Sans';
    font-size: 1.2rem;
    background: #3E3E3E;
    border: -2px solid #3E3E3E;
    border-radius: 3px;
    color: white;
}

#addBtn:hover {
    background: #66CD00;
    /* border: 2px solid #66CD00; */
    transition-duration: 0.3ms;
    opacity: 0.75;
}

#paperboyList {
    font-family: 'IBM Plex Sans';
    color: #333333;
    font-size: 1.2rem;
    line-height: 3.5rem;
    list-style-type: none;
    padding-left: 0;
}

#paperboyList li {
    border-bottom: 1px solid black;
    padding-left: 1rem;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

#paperboyList li:hover {
    /* background: rgba(255, 255, 255, 0.5); */
    transition-duration: 0.3s;
    cursor: pointer;
}

#paperboyList li:after {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative;
    content: '→ Read for today';
    margin-left: 0.5rem;
    font-weight: 700;
    font-style: italic;
    opacity: 0;
    left: 20px
}

#paperboyList li:hover:after {
    left: 0px;
    opacity: 1;
    transition-duration: 0.3s;
}

#paperboyList li:last-child {
    border-bottom: none;
}

.resetBtn {
    border: 1px solid #3E3E3E;
    font-family: 'IBM Plex Sans';
    border-radius: 3px;
    padding: 10px;
    height: 3rem;
}

#reset {
    margin-top: 3rem;
    text-align: center;
}

.resetBtn:hover {
    background: #f44336;
    border: 2px solid #f44336;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}

.close {
    position: absolute;
    background: #f9f7f1;
    float: right;
    right: 0;
    top: 0;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
}

.close:hover {
    background-color: #f44336;
    /* opacity: 0.75; */
    color: white;
    transition-duration: 0.2s;
}

.hover-close:after {
    opacity: 0 !important;
    left: 20px !important;
}

.wrapper {
    min-height: calc(100vh - 10rem);
}

.site-footer {
    font-family: 'EB Garamond';
    color: #3E3E3E;
    /* height: 8rem; */
    margin-top: 2rem;
    line-height: 6rem;
    text-align: center;
}

.site-footer a {
    text-decoration: underline;
}

@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    html {
        margin-left: 0%;
        margin-right: 0%;
        font-size: 11px;
    }

    #paperboyList li:after {
        content: '→'
    }

    .byline {
        font-size: 0.8rem;
        grid-template-columns: 50% 50%;
    }

    .byline #date {
        display: none;
    }

    .byline .counters {
        text-align: left;
    }

    .nav {
        padding-right: 0.5rem
    }

    .urlInput {
        margin-top: 2rem;
        margin-bottom: 2rem;

    }

}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    html {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    html {
        margin-left: 15%;
        margin-right: 15%;
    }
}