<head>
    <meta charset="utf-8">
    <title>Paperboy - Upgrade</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="style.css" rel="stylesheet">
    <link href="page-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400i,600,600i|IBM+Plex+Sans:300|Lora:400,700" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118332818-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-118332818-2');
    </script>

</head>

<body>
    <div class='wrapper'>
        <header>
            <div class='title'>
                <h1>
                    <a href='index.html'>Paperboy
                    </a>
                </h1>
            </div>
            <div class='subtitle'>Your daily reading list</div>
            <div class='byline'>
                <span id='date'></span>
                <span class='counters'>
                    <span class='bylineSpace'>
                        <span id='totalCounter'>
                        </span> TOTAL</span>
                    <span class='bylineSpace'>
                        <span id='unreadCounter'>
                        </span> UNREAD</span>
                </span>
                <span class='nav'>
                    <span class='bylineSpace'>
                        <a href='about.html'>ABOUT</a>
                    </span>
                    <span class='bylineSpace'>
                        <a href='https://goo.gl/forms/67BhT1tKb0yigp9Z2' target="_blank">FEEDBACK</a>
                    </span>
                    <span class='bylineSpace'>
                        <a href='upgrade.html'>UPGRADE</a>
                    </span>
                </span>
            </div>
        </header>

        <h2>Coming Soon - Paperboy Pro
        </h2>
        <p class='content'>
            When released, Paperboy Pro will add the ability to,
            <ul>
                <li>Sync your reading list across multiple devices.</li>
                <li>Customise the duration that a link will disappear for.</li>
                <li>Customise the appearance of items in your reading list.</li>
            </ul>
        </p>

        <p class='content'>
            To be the first to hear about Paperboy Pro when it launches, you can sign up to be notified
            <a href="https://goo.gl/forms/l8rTMoOk7Nkt0alC2" target="_blank">here</a>.

    </div>

    <footer class="site-footer">
        <div>Icons made by
            <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
    </footer>

</body>

<script src="utilities.js"></script>
<script src="counter.js"></script>
<script src="date.js"></script>